.auth_wrap {
    width: 100%;
    max-width: 46.0rem;
    margin: 0 auto;
    background: $white;
    box-shadow: 0 10px 20px rgba(38,50,56,.15);
    border-radius: 3px;

}

.quick_links {
    padding-top: 4rem;
    text-align: center;

    ul, li {
        margin: 0;
        padding: 0;
    }

    ul {
        li {
            list-style-type: none;
            display: inline-block;
            width: auto;
            margin: 0 1rem;

            a {
                font-weight: 700;
            }

        }
    }
}

.accountWrap {
    .auth_wrap {
        margin-top: 5rem;
    }
}

@media only screen and (max-width: 460px) {
    .auth_wrap {
        width: auto;
        margin: 0 10px;
    }
}